{% extends 'base.html' %}
{% block nav_login %}active{% endblock %}
{% block head %}
    <title>Login</title>
{% endblock head %}
{% block content %}
    <!-- Error messages -->
    {% if form.errors %}
        <ul class="errors text-dark">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <!-- End error messages -->
    <form class="auth-form mb-5 mt-5" method="post">
        <input type="hidden" value="{{ request.args.get('next', '') }}"/>
        <h3 class="mb-3">Sign In</h3>
        {{ form.hidden_tag() }}
        {{ form.username(class_='form-control mb-3', placeholder='Your Username *') }}
        {{ form.password(class_='form-control', placeholder='Your Password *') }}
        <div class="col text-center">
            <button class="btn btn-primary mt-3" type="submit">Login</button>
        </div>
    </form>
{% endblock content %}