{% extends 'base.html' %}
{% block nav_recipe_list_all %}active{% endblock %}
{% block head %}
    <title>Recipes</title>
{% endblock head %}
{% block content %}
    {% for recipe_row in recipes|batch(2) %}
        {#{{ loop.index + (page - 1) * per_page }}#}
        <div class="row">
            {% for recipe in recipe_row %}
                <div class="col-lg-6 pt-1 hover" onclick="myhref({{ recipe.id }});">
                    <div class="col-lg-4 col-md-2 left" id="image-center">
                        <img class="rounded-circle border border-muted p-1" src="{{ recipe.image }}"
                             alt="Picture of the dish">
                    </div>
                    <div class="col-lg-8 col-md-6 right">
                        <h5 class="bg-dark p-1 text-center mt-5">{{ recipe.name }}</h5>
                        <p class="text-dark mt-5"><img src="../static/open-iconic-master/png/clock-3x.png"
                                                       class="recipe-icon" alt="clock"> {{ recipe.preparation_time }}
                            minutes <img src="../static/open-iconic-master/png/shield-3x.png" class="recipe-icon"
                                         alt="shield"> {{ recipe.difficulty }} <img
                                    src="../static/open-iconic-master/png/star-3x.png" class="recipe-icon"
                                    alt="star"> {{ recipe.rating }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="hr-recipes">
    {% endfor %}
    {{ pagination.links }}
    <script type="text/javascript">
        function myhref(web) {
            window.location.href = web;
        }
    </script>
{% endblock content %}