{% extends 'base.html' %}
{% block nav_recipe_list %}active{% endblock %}
{% block head %}
    <title>Recipes</title>
{% endblock head %}
{% block content %}
    {% for recipe in recipes %}
        {#        {{ loop.index + (page - 1) * per_page }}#}
        <div class="row">
            <div class="col-lg-3 col-md-4" id="image-center">
                <img src="{{ recipe.image }}" alt="Picture of the dish">
            </div>
            <div class="col-lg-6 col-md-4">
                <h1>{{ recipe.name }}</h1>
            </div>
            <div class="col-lg-3 col-md-4">
                <p class="bottom-align-text">{{ recipe.description }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <p>Portions: {{ recipe.portions }}</p>
                <p>Preparation time: {{ recipe.preparation_time }} minutes</p>
                <p>Difficulty: {{ recipe.difficulty }}</p>
                {% if recipe.rating %}
                    <p>Rating: {{ recipe.rating }}</p>
                {% else %}
                    <p>Rating: N/A</p>
                {% endif %}
                <hr>
                {% for ingredient in recipe.ingredients %}
                    {% if ingredient.unit == 'GRAM' %}
                        <p>{{ ingredient.amount }} gram of {{ ingredient.food.name }}</p>
                    {% else %}
                        <p>{{ ingredient.amount }} {{ ingredient.food.name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-9 col-md-8">
                {% for step in recipe.steps %}
                    <p>{{ step.instruction }}</p>
                {% endfor %}
            </div>
        </div>
        <hr class="hr-recipes">
    {% endfor %}
    {{ pagination.links }}
{% endblock content %}