{% extends 'base.html' %}
{% block nav_register %}active{% endblock %}
{% block head %}
    <title>Register</title>
{% endblock head %}
{% block content %}
    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" class="login-form mt-5 mb-5">
        <h3 class="mb-3">Sign Up</h3>
        {{ form.hidden_tag() }}
        {{ form.username(class_='form-control mb-3', placeholder='Username *') }}
        {{ form.email(class_='form-control mb-3', placeholder='E-mail Address *') }}
        {{ form.password(class_='form-control mb-3', placeholder='Password *') }}
        {{ form.password2(class_='form-control', placeholder='Confirm Password *') }}
        <div class="col text-center">
            <button class="btn btn-primary mt-3" type="submit">Register</button>
        </div>
    </form>
{% endblock content %}